<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>CodeBox</title>
</head>
<body>
    <nav class="navigation" id="navigation">
        <a href="/" style="text-decoration: none; background: rgba(0, 0, 0, 0);"><div class="logo">
            CodeBox
        </div></a>
        <div class="userbtns">
            <button class="userbtn" onclick="location.href='/login';">Login</button>
            <!-- <button class="userbtn" onclick="location.href='/register';">Register</button> -->
        </div>
    </nav>