<%- include("header") -%>
    <div id="mainpart" style="padding-left: 10vw;">
        <form action="/login" method="post">
            <div class="" style="padding-top: 20vh;">
                User Id &nbsp;
                <input type="email" name="userid" class="textfield" placeholder="User Id">
                <!-- <textarea name="ownerName" rows="1" cols="20" id="owner" class="textfield" placeholder="User Id"></textarea> -->
            </div>
            <div class="" style="padding-top: 1vh">
                Password &nbsp;
                <input type="password" name="password" class="textfield" placeholder="password">
                <!-- <textarea name="codePaste" rows="1" cols="20" name="topicName" class="textfield topicfield" placeholder="Topic"></textarea> -->
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>
